extends layout
block content
  h1= title
  if (toShow == null)
    h2 No instance to update
  else
    - let Toolsid = toShow._id
    - let usage = toShow.usage
    - let name = toShow.name
    - let price = toShow.price
    div.row(class='mb-2')
      div.mr-1 ID is
      div #{Toolsid}
    - let actionid = "/resource/Tools/" + Toolsid
    form(id='ToolsForm', action= actionid, method="PUT")
      div.form-group
        label.ToolsAttr(for='usage') Tools usage
        input#usage(type='text', name='usage', value= usage )
      div.form-group
        label.ToolsAttr(for='name') Tools name
        input#name(type='text', name='name', value= name )
      div.form-group
        label.ToolsAttr(for='price') price
        input#price(type='number', name='price', value= price )
      input(type="submit")
    script.
      document.forms['ToolsForm'].addEventListener('submit', (event) => {
        event.preventDefault();
        fetch(event.target.action, {
          method: 'PUT',
          body: new URLSearchParams(new FormData(event.target))
        }).then((resp) => {
          if(resp.ok){
            alert ("Tools Updated Successfully")
            document.getElementById('ToolsForm').reset()
        }
        else {
            alert (" Failed to Update Tools")
        }
          return resp.text(); //resp.json();or whatever the server sends
        }).then((body) => {
        //  alert("Update succeeded");
        }).catch((error) => {
          alert("Update failed: " + error);
        });
      });